<!-- Generated template for the DadosComponent component -->
  <div  id="dados-container">

    <div *ngIf="desc_array[0] != undefined" class="dado">
      <div class="dado-valor">{{desc_array[0].valor}}</div>
      <div class="dado-desc">{{desc_array[0].desc}}</div>
    </div>

    <div *ngIf="desc_array[1] != undefined" class="dado">
      <div class="dado-valor">{{desc_array[1].valor}}</div>
      <div class="dado-desc">{{desc_array[1].desc}}</div>
    </div>

    <div *ngIf="desc_array[2] != undefined" class="dado">
      <div class="dado-valor">{{desc_array[2].valor}}</div>
      <div class="dado-desc">{{desc_array[2].desc}}</div>
    </div>

  </div>
