view-dados {
  #dados-container{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;

    .dado{
      display:flex;
      width: 50%;
      margin: 10px 0;
      flex-flow: column;
      align-content: center;

    }

    .dado-valor{
      text-align: center;
      font-size: 12;
      font-size: 5vw;
      white-space: nowrap
    }

    .dado:nth-child(even) {
      padding: 0 0 0 2px;
    }

    .dado:nth-child(odd) {
      padding: 0 2px 0 0;
    }

    .dado-desc{
      font-size: 9px;
      padding: 2px 1px;
      text-align: center;
      font-weight: 500;
      color: #bbb;
      letter-spacing: 1px;

    }

  }



}



