<ion-header>
  <ion-navbar color="{{info_eixo.ioncolor}}">
    <ion-title>
      {{info_eixo.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<div id='menu-container' >

  <div id='menu' [style.background-color]="menu_color" [style.opacity]="menu_opacity">
  <ion-item>
    <button ion-button full clear (click)="menuClick()" ><div class='menu-bread' ><div class='menu-plus' >{{menu_plus}}</div><div class='menu-label' >Menu</div></div></button>
  </ion-item>

  <div id='menu-options' *ngIf=expand [style.background-color]="menu_color">

    <ion-item *ngIf="ready_pt_br">
      <ion-label>Variável</ion-label>
      <ion-select [(ngModel)]="parameters.var" (ngModelChange)="update($event)">
          <ion-option *ngFor="let variable of pt_br.var[parameters.eixo]" [value]="variable.id">{{variable.title}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="list_uf.length" >
      <ion-label>Estados</ion-label>
      <ion-select [(ngModel)]="parameters.uf">
          <ion-option *ngFor="let state of list_uf" [value]="state.id">{{state.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="parameters.ano > 0">
      <ion-label>Ano</ion-label>
      <ion-select [(ngModel)]="parameters.ano">
          <ion-option *ngFor="let ano of anos[parameters.var][parameters.slc].reverse()" [value]="ano">{{ano}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="parameters.cad != null">
      <ion-label>Cadeia</ion-label>
      <ion-select [(ngModel)]="parameters.cad">
          <ion-option *ngFor="let cad of cads" [value]="cad.value">{{cad.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="parameters.eixo == 0 && vrvPorte()">
      <ion-label>Desagregação</ion-label>
      <ion-select [(ngModel)]="parameters.deg">
        <ion-option *ngFor="let porte of portes" [value]="porte.value">{{porte.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="parameters.eixo == 1">
      <ion-label>Desagregação</ion-label>
      <ion-select [(ngModel)]="pre_desags" (ngModelChange)="updateDesag($event)">
        <ion-option *ngFor="let desag of select_desags" [value]="desag.value" [disabled]="desag.group_name">{{desag.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="parameters.eixo == 3">
      <ion-label>Parceiro</ion-label>
      <ion-select [(ngModel)]="parameters.prc">
        <ion-option *ngFor="let prc of parceiros" [value]="prc.value">{{prc.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="parameters.eixo == 3">
      <ion-label>Tipo</ion-label>
      <ion-select [(ngModel)]="parameters.typ">
        <ion-option *ngFor="let typ of selectTipos()" [value]="typ.value">{{typ.name}}</ion-option>
      </ion-select>
    </ion-item>

  </div>
</div>

</div>

<ion-content  style="background-color: ffffff;">

  <ion-grid id='content-container'>

      <ion-row id='views' #views>
        <ion-col col-12 >
            <ion-item *ngIf="parameters.ano > 0 && ready_pt_br" style="background-color: ffffff; height: 100%; width: 100%;" >
              <ion-slides #slides (ionSlideDidChange)="slideChanged()" style="height: 100%">
                <ion-slide>
                    <hr>
                    <p class='title_view'>{{getTitleView(1)}}</p>
                    <view-mapa *ngIf="correctView(1, 'mapa')"  [url]="getQuery(parameters)" [parameters]="parameters" ></view-mapa>
                    <view-barras *ngIf="correctView(1, 'barras')" [uos]="getUos(2)" [url]="getQuery(parameters)" [parameters]="parameters" (dadoGlobal)="reciverData($event)"></view-barras>
                    <view-mapa-mundi *ngIf="correctView(1, 'mapa-mundi')" [parameters]="parameters" [url]="getQuery(parameters)"></view-mapa-mundi>
                </ion-slide>

                <ion-slide>
                  <hr>
                  <p class='title_view'>{{getTitleView(2)}}</p>
                  <view-donut *ngIf="correctView(2, 'donut')" [url]="getQuery(parameters)" [parameters]="parameters"></view-donut>
                  <view-empilhadas *ngIf="correctView(2, 'empilhadas')" [uos]="getUos(2)" [url]="getQuery(parameters)" [parameters]="parameters" (dadoGlobal)="reciverData($event)"></view-empilhadas>
                  <view-barras *ngIf="correctView(2, 'barras')" [uos]="getUos(1)" [url]="getQuery(parameters)" [parameters]="parameters" (dadoGlobal)="reciverData($event)"></view-barras>
                </ion-slide>

                <ion-slide>
                  <hr>
                  <p class='title_view'>{{getTitleView(3)}}</p>
                  <view-barras *ngIf="correctView(3, 'barras')" [uos]="getUos(3)" [url]="getQuery(parameters)" [parameters]="parameters" (dadoGlobal)="reciverData($event)"></view-barras>
                  <view-treemap *ngIf="correctView(3, 'treemap_scc')" [url]="getQuery(parameters)" [parameters]="parameters" (dadoGlobal)="reciverData($event)"></view-treemap>
                  <view-linhas *ngIf="correctView(3, 'linhas')" [url]="getQuery(parameters)" [parameters]="parameters"></view-linhas>
                </ion-slide>
              </ion-slides>
            </ion-item>
        </ion-col>
      </ion-row>


      <ion-row id='dados'>
        <ion-col col-12>
            <ion-item text-wrap  style="background-color: #ffffff; " >
                <view-dados *ngIf="parameters.ano > 0" [pt_br]="pt_br" [parameters]="parameters" [url]="getQuery(parameters)" [globalData]="data"></view-dados>
                <p *ngIf="ready_pt_br" id="desc">
                  {{getDescVar()}}
                </p>
            </ion-item>
        </ion-col>
      </ion-row>


  </ion-grid>

</ion-content>


<ion-footer no-border style='height: 30px; margin-top: 0; padding-top: 0; '>
  <ion-toolbar style='height: 30px; margin-top: 0; padding-top: 0'>
    <div id='segment-container' style='height: 60px; margin-top: 0; padding-top: 0'>
      <ion-segment [(ngModel)]="view" color="primary" style='height: 40px; margin-top: 0; padding-top: 0'>

        <div class='seg-btn-ctn'>
          <ion-segment-button value="0" class='segment-btn' (ionSelect)="segmentChanged(slides, 0)"></ion-segment-button>
        </div>
        <div class='seg-btn-ctn'>
          <ion-segment-button value="1" class='segment-btn' (ionSelect)="segmentChanged(slides, 1)"></ion-segment-button>
        </div>
        <div class='seg-btn-ctn'>
          <ion-segment-button value="2" class='segment-btn' (ionSelect)="segmentChanged(slides, 2)"></ion-segment-button>
        </div>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-footer>
