<ion-header>
  <ion-navbar>
    <ion-title>
      Atlas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="list_uf.length">
    <ion-label>Estados</ion-label>
    <ion-select [(ngModel)]="uf">
        <ion-option *ngFor="let state of list_uf" [value]="state.id">{{state.name}}</ion-option>
    </ion-select>
  </ion-item>
 
  <ion-item *ngIf="ready_pt_br">
    <ion-label>Variável</ion-label>
    <ion-select [(ngModel)]="vrv">
        <ion-option *ngFor="let variable of pt_br.var[eixo]" [value]="variable.id">{{variable.title}}</ion-option>
    </ion-select>
  </ion-item>

  <p>{{uf}}</p>
  <view-barras></view-barras>
  <hr>
  <view-treemap></view-treemap>
  <hr>
  <view-donut></view-donut>




</ion-content>
