page-home {
  height: 100%;
}
#desc{
    width: 100%;
    text-align: justify;
    font-weight: bold;
    color: #bbb;
    margin-top: 10px;
}

.segment-md .segment-button.segment-activated {
  color: red;
  background-color: #6DBFC9;
  opacity: 1;
  border-color: #bec7c7;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  left: 0;
  bottom: 0px;
  width: 100%;
}

.swiper-wrapper{
}

.segment-btn{
  width: 8px;

}

.segment-md .segment-button{
  border-radius: 100%;
  border: 1px;
  background-color: #000;
  width: 8px;
  height: 12px;
  margin: 0 10px;
  opacity: 0.2;
}

#segment-container{
  margin: auto;
  width: 50%;
}

#segment-container div div{
  width: 8px;
}

#segment-container .segment{
  width: 2px;
}

#menu-container{

  padding: 4px 3px 5px 3px;
  position: absolute;
  z-index: 2;
  width: 100%;
  margin: 70px auto 0 auto;
}

#menu-container #menu{
  background-color: #DDDEDE;
  width: 90%;
  margin: 0 auto;
  border: 1px solid rgba(187, 187, 187, 0.384);
  border-radius: 10px;
  opacity: 0.7;
}

#menu-container .label-md{
  margin: 8px 0;
}

.label-md{
  margin: 0;
}

#menu-options .input-wrapper{
  display: flex;
  flex-flow: column;
  background-color: #DDDEDE;
}
#menu-options .select{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.356);
  border-radius: 10px;
  padding: 5px 20px;
  max-width: 100%;
  background-color: #fff;
}

#menu-options .item{
  margin-bottom: 2px;
}


#menu-options .select-text{
  width: 100%;
}

#menu-options .select-icon{
  width: 8px;
}

#menu-options .label{
  text-align: left;
  padding: 0 15px;
  width: 100%;
  margin: 8px 0 2px 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;

}

#menu-container .item-inner{
  margin: 0 10%;
  padding: 0px;

}

.item-md.item-block .item-inner{
  padding-right: 0px;
}

.item{
  padding-left: 0;
}

#menu-options{
  background-color: #DDDEDE;
  padding-bottom: 20px;
}

#menu-options .item-md.item-block .item-inner{
  border-bottom: none;
}

#menu-container .item-md{
  padding: 0;
  background-color: inherit;
}

#menu-container .menu-plus{
  width: 50%;
  padding: 2px;
  text-align: left;
  color: #8dcdd5;
}

#menu-container .menu-label{
  width: 50%;
  padding: 2px;
  text-align: right;
  color: #a2a2a2;
}

#menu-container .menu-bread{
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 16px;
}

.title_view{

  white-space: normal;
  color: #a2a2a2;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 300;

}

page-home .scroll-content{
  padding: 16px 0 16px 0px;
  margin-bottom: 5px;
}

.toolbar-background-md{
  background-color: inherit;
}

#content-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}


#views{
  min-height: 65%;
  flex-grow: 1;
}

#dados{
  flex-grow: 2;
  overflow-y: scroll;
}

page-home .slide-zoom{
  height: 100%;
}
