<div *ngIf='ready' class="view">
  <svg [attr.width]="width" [attr.height]="height">
    <g>
      <g *ngFor="let d of treemapData.leaves()" [attr.transform]="getTranslate(d)">
        <rect [attr.height]="d.y1 - d.y0" [attr.width]="d.x1 - d.x0" [attr.fill]="getColorCadeia(d.parent)"></rect>
        <text *ngIf='d.data.percentual*100 > 2' text-anchor="end" [attr.y]="textY(d.y1, d.y0)" [attr.x]="textX(d.x1, d.x0)" [attr.font-size]="getFontSize(d)">
            {{formatPercent(d.data.percentual)}}
        </text>
        <text *ngIf="testCondition(d)" text-anchor="start" [attr.font-size]="titleSize" y=20 [attr.x]="width/150">
            {{d.data.name}}
        </text>
      </g>
    </g>
  </svg>

  <div id="container-subtitle">
      <div class="row-subtitle">
        <div *ngFor="let d of subtitles_1" class='subtitle'>
          <div [ngStyle]="getSubtitleStyle(d)"></div>
          <p class="subtitle-text">{{d.name}}</p>
        </div>    
      </div>
      <div class="row-subtitle">
        <div *ngFor="let d of subtitles_2" class='subtitle'>
          <div [ngStyle]="getSubtitleStyle(d)"></div>
          <p class="subtitle-text">{{d.name}}</p>
        </div>    
      </div>
        
  </div>
</div>
