treemap {

}
.row-subtitle{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.subtitle{
    display: flex;
    flex-direction: row;
    margin: 3px;
}

.subtitle-text{
    padding-left: 4px;
}

#container-subtitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
