<!--
  Generated template for the IndexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Atlas Econômico e Cultural do Brasil
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content [style.display]="flex" [style.flex-direction]="column" >


  <div *ngFor="let d of eixos" class="item-menu" [style.background-color]="d.color" [style.background-image]='getBackgroundImage(d)'>
    <img *ngIf="d.name == 'Atlas' " src='../../assets/imgs/atlas_logo.png'>
    <span *ngIf="d.value >= 0" class="text-item" (click)="goToOtherPage(d)">{{d.name}}</span>
  </div>


</ion-content>
