<!-- Generated template for the LinhasComponent component -->
<div *ngIf='data.length && x && y'>
  <p>Dados do Lines Carregados!</p>
  <svg [attr.width]="width" [attr.height]="height">
      <g [attr.width]="linesWidth" [attr.height]="linesHeight" [attr.transform]="getLinesTransform()">
        <path *ngFor="let d of data; index as i"
        class='line'
        opacity='1'
        [attr.d]='getLinePath(d, i)'
        fill = 'none'
        stroke-width= '2'
        stroke='#222'>


        </path>
      </g>
  </svg>
</div>
