<!-- Generated template for the LinhasComponent component -->
<div *ngIf='states != null && colors'>
  <svg id="mapSVG" [attr.width]="width" [attr.height]="height">
      <g [attr.width]="mapaWidth" [attr.height]="mapHeight" [attr.transform]="getMapTransform()">.
            <path *ngFor="let d of states.features; index as i" (click)="selectUF(d.id)"
            [attr.data-legend]='1'
            [attr.d]='paths[i]'
            [attr.fill]='getStateColor(d)'
            >
            </path>
      </g>
      
      <defs>
        <linearGradient id="grad" x1="0%" y1="100%" x2="90%" y2="100%">
          <stop class="begin" offset="0%" [style.stop-color]="colorScale(minValue)" [style.stop-opacity]="1"></stop>
          <stop class="end" offset="90%" [style.stop-color]="colorScale(maxValue)" [style.stop-opacity]="1"></stop>
        </linearGradient>
      </defs>
      
      <g>
        <rect [attr.width]="legend_config.width" 
              [attr.height]="legend_config.height" 
              [attr.x]="legend_config.x" 
              [attr.y]="legend_config.y" [attr.fill]="'url(#grad)'">
        </rect>
      </g>

      <g>
        <line *ngFor="let d of legend_data; index as i" 
              class="legend-line"
              [attr.x1]="legend_config.x + i*legend_config.width/2"
              [attr.x2]="legend_config.x + i*legend_config.width/2"
              [attr.y1]="legend_config.y - 2"
              [attr.y2]="legend_config.y + legend_config.height + 2"
        >
        </line>
        <text *ngFor="let d of legend_data; index as i"
              class = "legend-text"
              [attr.x]="legend_config.x + i*legend_config.width/2"
              [attr.y]="legend_config.y + legend_config.height + 12"
        >
          {{d}}
        </text>
      </g>
  </svg>
</div>
