view-donut {
  .subtitle{
    display: flex;
    flex-direction: row-reverse;
    margin: 3px 0px;
  }

  .right{
      float: left;
  }
  .left{
      float: right;
  }

  .subtitle-text{
      text-overflow: ellipsis;
      overflow: hidden;
      width: 90%;
      text-align: left;
  }

  .subtitle-text p {
      margin: 1px 3px;
      font-size: 12px;
  }
}

